<template>
  <div style="margin: 10px">
    <b-modal
      id="modal-form-user"
      ref="modal-form-user"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          label="Name"
          label-for="name"
          :invalid-feedback="invalidFeedbackName"
          :valid-feedback="validFeedbackName"
          :state="stateName"
        >
          <b-form-input id="name" v-model="form.name" required></b-form-input>
        </b-form-group>
        <b-form-group
          label="Gender:"
          label-for="gender"
          :invalid-feedback="invalidFeedbackGender"
          :valid-feedback="validFeedbackGender"
          :state="stateGender"
        >
          <b-form-select
            id="gender"
            v-model="form.gender"
            :options="genderOptions"
            required
          ></b-form-select>
        </b-form-group>
      </form>
      <b-card class="mt-3" header="Form Data Result">
        <pre class="m-0">{{ form }}</pre>
      </b-card>
    </b-modal>

    <b-button variant="success" class="float-left" @click="addNewUser()"
      >Add User</b-button
    >
    <!-- <b-form-input v-model="search" placeholder="Search"></b-form-input> -->
    <b-table striped hover :items="userList" :fields="fields">
      <template v-slot:cell(operation)="data">
        <b-button @click="editUser(data.item)">Edit</b-button>
        &nbsp;
        <b-button variant="danger" @click="delUser(data.item)">Delete</b-button>
      </template>
    </b-table>
  </div>
</template>

<script>
// import userService from './UserService'
import axios from 'axios'
export default {
  data () {
    return {
      title: 'Add new user',
      form: {
        _id: '',
        name: '',
        gender: null
      },
      genderOptions: [
        { text: 'Select One', value: null },
        { value: 'M', text: 'Male' },
        { value: 'F', text: 'Female' }
      ],
      userList: [],
      fields: [
        { key: '_id', label: 'ID' },
        { key: 'name', label: 'Name' },
        { key: 'gender', label: 'Gender' },
        'operation'
      ]
    }
  },
  methods: {
    addNewUser () {
      this.$bvModal.show('modal-form-user')
    },
    editUser (user) {
      this.title = 'Edit user'
      this.form = { ...user }
      this.$bvModal.show('modal-form-user')
    },
    // addUser (user) {
    //   user._id = this.lastId++
    //   this.userList.push(user)
    // },
    // deleteUser (user) {
    //   const index = this.userList.findIndex(item => item._id === user._id)
    //   this.userList.splice(index, 1)
    // },
    // updateUser (user) {
    //   const index = this.userList.findIndex(item => item._id === user._id)
    //   this.userList.splice(index, 1, user)
    // },
    delUser (user) {
      this.boxTwo = ''
      this.$bvModal
        .msgBoxConfirm(
          'Please confirm that you want to delete ' + user.name + '?',
          {
            title: 'Please Confirm',
            size: 'lg',
            buttonSize: 'md',
            okVariant: 'danger',
            okTitle: 'YES',
            cancelTitle: 'NO',
            footerClass: 'p-2',
            hideHeaderClose: false,
            centered: true
          }
        )
        .then(value => {
          if (value) {
            // userService.deleteUser(user)
            axios
              .delete('http://localhost:3000/users/' + user._id)
              .then(res => {
                console.log(res)
                this.getUsers()
              })
              .catch(err => {
                console.log(err)
                console.log(user._id)
              })
          }
        })
    },
    getUsers () {
      axios
        .get('http://localhost:3000/users')
        .then(res => {
          console.log(res)
          this.userList = res.data
        })
        .catch(err => {
          console.log(err)
        })
    },
    resetModal () {
      this.form = {
        _id: '',
        name: '',
        gender: null
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      if (this.stateName === false || this.stateGender === false) {
        return
      }
      if (this.form._id !== '') {
        axios
          .put('http://localhost:3000/users', this.form)
          .then(res => {
            console.log(res)
            this.getUsers()
          })
          .catch(err => {
            console.log(err)
          })
      } else {
        // userService.addUser(this.form)
        delete this.form._id
        axios
          .post('http://localhost:3000/users', this.form)
          .then(res => {
            console.log(res)
            this.getUsers()
          })
          .catch(err => {
            console.log(err)
          })
      }

      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-user')
      })
    }
  },
  computed: {
    stateName () {
      return this.form.name.length >= 2
    },
    invalidFeedbackName () {
      if (this.form.name.length > 2) {
        return ''
      } else if (this.form.name.length > 0) {
        return 'Enter at least 2 characters'
      } else {
        return 'Please enter something'
      }
    },
    validFeedbackName () {
      return this.stateGender === true ? 'Success' : ''
    },
    stateGender () {
      return this.form.gender != null
    },
    invalidFeedbackGender () {
      if (this.form.gender != null) {
        return ''
      } else {
        return 'Please choose your gender.'
      }
    },
    validFeedbackGender () {
      return this.stateGender === true ? 'Success' : ''
    }
  },
  mounted () {
    this.getUsers()
  }
}
</script>
